*, html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background: #000;
  color: #fff;
  min-height: 100vh;
  background: #0a1b23;
}

.container {
  padding: 2rem 1rem;
  max-width: 420px;
  margin: 0 auto;
}

input, button {
  outline: none;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 200;
  height: 40px;
  border-radius: 3px;
  border: none;
}

@media screen and (min-width: 420px) {
  input, button{
    height: 70px;
    padding: 1rem;
    font-size: 1.25rem;
  }
}

input {
  width: 100%;
  margin-bottom: .25rem;
  background: #dfdfdf;
}

button {
  background: #253238;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #1d272c;
}

sup {
  font-size: .75rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: .25rem;
}

.grid.numbers {
  grid-column: 1 / 9;
}

.grid.numbers button:first-child,
.grid.numbers button:nth-child(2),
.grid.numbers button:nth-child(3),
.grid.numbers button:nth-child(4),
.grid.numbers button:nth-child(5),
.grid.numbers button:nth-child(6) {
  background:#34383a;
  color: #fff;
}

.grid.numbers button:first-child:hover,
.grid.numbers button:nth-child(2):hover,
.grid.numbers button:nth-child(3):hover,
.grid.numbers button:nth-child(4):hover,
.grid.numbers button:nth-child(5):hover,
.grid.numbers button:nth-child(6):hover {
  background: #2d3134;
}

.grid.numbers button:last-child {
  background: #327434;
  color: #fff;
}

.grid.numbers button:last-child:hover {
  background: #204922;
}

.grid.operations {
  grid-column: 9 / 12;
}

.grid.operations button {
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 12;
  background: #123749;
  color: #fff;
}

.grid.operations button:hover {
  background: #0c3143;
}

.grid.operations button:last-child {
  background: #eb2e2e;
}

.grid.operations button:last-child:hover {
  background: #ba2424;
}